body,
    h1,
    h2,
    ul,
    li {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #f4f4f4;
      color: #333;
      font-family: Arial, sans-serif;
    }

    nav {
      max-height: 10%;
      background-color: #d40b0b;
      color: #fff;
      padding: 0;
      overflow: hidden;
    }

    nav img {
      float: left;
      max-height: 30px;
    }

    nav ul {
      list-style: none;
      float: right;

      padding: 0px;
    }

    nav ul li {
      display: inline-block;
      margin-right: 20px;
    }

    nav ul li button {
      border-radius: 100px;
      background-color: #83f56f;
      color: #fff;
      padding: 10px;
      margin: 15px;
      border: 2px solid;
      cursor: pointer;
    }

    nav ul li a {
      text-decoration: none;
      color: #fff;
    }

    nav ul :hover {
      color: rgb(11, 11, 246);
      text-decoration: underline;
    }



    .container {
      max-width: 1200px;
      margin: 0 auto;
    }


    h1 {
      text-align: center;
      padding: 20px 0;
    }


    .Home-Electronics,
    .Home-furniture,
    .Home-Needs,
    .Fashion {
      margin-bottom: 40px;
    }

    h2 {
      text-align: center;
      background-color: #007bff;
      color: #fff;
      padding: 10px;
    }

    ul {
      list-style-type: none;
      padding: 10px;
      display: flex;
    }

    li {
      margin-bottom: 10px;
    }


    a {
      text-decoration: none;
      color: #007bff;
    }

    a:hover {
      text-decoration: underline;
    }


    img {
      size: 10px;
      max-width: 55%;
      height: 75%;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      display: block;
      margin: 30px;
    }


    @media (max-width: 768px) {
      .container {
        padding: 0 20px;
      }
    }

    .category {
      display: none;
    }

    .active-category {
      display: block;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    button {
      margin: 1%;
      border-radius: 100px;
      background-color: #78d984;
      color: #fff;
      padding: 10px;
      border: 2px solid;
      cursor: pointer;
    }

    button a:link {
      text-decoration: none;
    }

    .scrolltotop {
      margin-left: 1400px;
    }